ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
}

p {
	text-indent: 15px;
	text-align: justify;
}

li {
    float: left;
}

li  a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a.active{
	background-color: #DF7401;
    color: white;
}
li a:hover:not(.active) {
    background-color: #585858;
    color: white;
}

h1,body {font-family: Helvetica,Arial,sans-serif}