nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: center;
    background-color: #f1f1f1;
}

nav p {
    text-indent: 15px;
    text-align: justify;
}

nav li {
    padding: 1px;
    float: center;
    border-bottom: 2px solid white;
}

nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.container{
    margin: auto;
    text-align: center;
    width: 30%;
    border: 2px solid #eee;
}

.container2{
    text-align: center;
    width: 250 px;
    border: 2px solid #eee;
}

nav li a:hover{
    background-color: #585858;
    color: white;
}

h1,body {
    font-family: Helvetica,Arial,sans-serif
}

